.content-chat{
  display: flex;
  flex: 1 1;
  &__version{
    position: absolute;
    bottom: 5px;
    right:32px;
    color:#777;
  }
  &__history{
    margin-left: 30px;
    @media @tablet{
      margin-left: 0px;
    }
  }
}

.sidebar-list{
  display: flex;
  width: 300px;
  flex-shrink: 0;
  flex-direction: column;
  @media @tablet{
  display: none;
}
  &__profile{
    background: linear-gradient(90deg, #0D8498 0%, rgba(23, 209, 185, 0.557292) 45.39%, rgba(155, 255, 242, 0) 94.73%), #39E0D0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    height: 70px;
    margin-bottom: 30px;
  }
  &__users{
    background: linear-gradient(180deg, #13D2F8 0%, #0D8498 100%), #AAEFFD;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding-right: 0px;
    padding-bottom: 18px;
    padding-top: 18px;
    flex: 1;
  }
}

.profile-sidebar{
  display: flex;
  align-items: center;
  padding-left: 8px;

  &__logo{
    margin-right: 12px;
  }
}

.logo-user{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #D1D1D1;
  border-radius:50%;
  &__img{
    font-weight:bold ;
    font-size: 18px;
    line-height: 18px;
  }
  &__status{
    position: absolute;
    bottom: 0px;
    height: 10px;
    width: 10px;
    right: 6px;
    border-radius: 50%;
  }
}

.status--offline{
  background: #FF5656;;
}
.status--online{
  background: #12D225;
}

.users-sidebar{
  max-height: 518px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
    background: #B0B0B0;
    border-radius: 35px;
    height: 40px;
  }
  &::-webkit-scrollbar-thumb {
    background: #0D8498;
    border-radius: 140px;
    height: 20px;
  }
  .profile-sidebar{
    height: 74px;
  }

}

.history-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F3F3F3;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  &__box{
    padding: 30px 0px 12px 40px;
  }
  &__form{
    margin-top: auto;
    margin-bottom: 12px;
  }
}
.msg--personal .msg__name{
  display:none;
}
.history-box{
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 557px;
  &::-webkit-scrollbar {
    width: 10px;
    background: #B0B0B0;
    border-radius: 35px;
    height: 40px;
  }
  &::-webkit-scrollbar-thumb {
    background: #0D8498;
    border-radius: 140px;
    height: 20px;
  }
  &__msg{
    margin-bottom: 6px;
    max-width: 70%;
    flex-basis: auto;
    &:last-child{
      margin-bottom: 0px;
    }

  }

}
.msg{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 10px 10px 15px;
  border-radius: 8px;
  overflow-wrap: break-word;
  word-break: break-all;
  line-break: normal;
  -webkit-hyphens: auto;

  &__name{
    font-weight: bold;
    margin-bottom: 6px ;
  }
  &__txt{
    margin-bottom: 6px;
  }
  &__time{
    align-self: flex-end;
  }
}

.msg--personal{
  background: linear-gradient(90deg, #0D8498 -3%, #17D1B9 46.95%, #9BFFF2 96.17%), #39E0D0;
  background-blend-mode: darken, normal;
  align-self: flex-end;
}

.msg--users{
  background: linear-gradient(90deg, #13D2F8 -3%, #0D8498 99.03%), #AAEFFD;
  background-blend-mode: darken, normal;
  align-self: flex-start;
}

.msg--personal + .msg--users,
.msg--users + .msg--personal{
  margin-top: 12px;
}

