.form-send {
    display: flex;
    padding-left: 40px;
    padding-right: 51px;
    @media @tablet{
        padding-left: 10px;
        padding-right: 10px;
    }
    &__textarea {
        width: 100%;
        height: 38px;
        background: #FFFFFF;
        border-radius: 35px;
        outline: none;
        resize: none;
        padding-top: 10px;
        padding-left: 30px;
        border: none;
        margin-right: 16px;
        flex: 1;
    }
    &__textarea::placeholder{
        font-size: 14px;
        color: #C2C2C2;
        
    }
    &__send {
        margin-left: auto;
        width: 38px;
        height: 38px;
        border: 1px solid #39E0D0;
        border-radius: 50px;
        background:url(../img/send.png) #FFF no-repeat;
        cursor: pointer;
        outline: none;
        background-position: center center;

    }
}