.form-send {
  width: 715px;
  display: flex;
}
.form-send__textarea {
  width: 661px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 35px;
  outline: none;
  resize: none;
  padding-top: 10px;
  padding-left: 30px;
}
.form-send__textarea::placeholder {
  font-size: 14px;
  color: #C2C2C2;
}
.form-send__send {
  margin-left: auto;
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #39E0D0;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
