.header-chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px 0 84px;
}
.header-chat__logo {
  font-size: 40px;
  color: #FFFFFF;
}
.header-chat__info {
  display: flex;
  width: 730px;
  height: 40px;
  background: white;
  align-items: center;
  padding: 0 20px 0 20px;
  border-radius: 30px;
  margin-left: 81px;
}
.header-chat__info .online-info {
  display: flex;
  align-items: center;
}
.header-chat__info .online-info__text {
  font-size: 18px;
  color: #777777;
}
.header-chat__info .online-info__number {
  width: 30px;
  height: 30px;
  margin-left: 20px ;
  background: #12D225;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.header-chat__info .all-info {
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-chat__info .all-info__text {
  margin-right: 20px;
  font-size: 18px;
  color: #777777;
}
.header-chat__info .all-info__number {
  width: 30px;
  height: 30px;
  background: #0D8CA2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.header-chat__settings {
  margin-left: 39px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
