.header-chat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px 0 84px;
    @media @tablet{
        padding:0px 10px 0px 10px;
    }
    @media @mobile{
        flex-direction: column;
    }
    &__logo{
        font-size: 40px;
        color: #FFFFFF;
    }

    &__info{
        display: flex;
        width: 730px;
        height: 40px;
        background: white;
        align-items: center;
        padding: 0 20px 0 20px;
        border-radius: 30px;
        margin-left: 81px;
        // justify-content: flex-start;
        @media @tablet{
            width:auto;
            margin-left: auto;
        }
        .online-info{
            display: flex;
            align-items: center;
            &__text{
                font-size: 18px;
                color: #777777;
                text-transform: capitalize;
            }
            &__number{
                width: 30px;
                height: 30px;
                margin-left: 20px ;
                background: #12D225;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
            }
        }
        .all-info{
            margin-left: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__text{
                margin-right: 20px;
                font-size: 18px;
                color: #777777;
                text-transform: capitalize;
            }
            &__number{
                width: 30px;
                height: 30px;
                background: #0D8CA2;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
            }
        }
    }
    &__settings {
        margin-left: 39px;
        width: 40px;
        height: 40px;
        border-radius: 35px;
        background:url(../img/Vector.png) #fff no-repeat;
        cursor: pointer;
        outline: none;
        background-position: center center;
        @media @tablet{
            margin-left: auto;
            margin-right: 10px;
        }
    }
}