.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:999;
  background: rgba(17, 23, 18, 0.4);
  opacity: 0;
  visibility: hidden;

  &.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
}
.modal-settings{
  opacity: 0;

  visibility: hidden;
  color: #777;
  font-size: 18px;
  position: relative;
  padding: 56px 45px 30px 45px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEEEEE;
  border-radius: 5px;
  position: absolute;
  left:50%;
  z-index:1000;
  width:350px;
  top:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  &.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  &__close{
    background: url(../img/close.svg) no-repeat;
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  &__install{
    width: 100%;
  }

}
.install-name{
  &__label{
    font-size: 18px;
    margin-bottom: 14px;
  }
  &__input{
    width: 100%;
    background: #FFFDFD;
    border-radius: 5px;
    border:none;
    outline: none;
    height: 38px;
    padding-left: 15px;
  }
  &__submit{
    background: linear-gradient(90deg, #0D8498 0%, rgba(23, 209, 185, 0.557292) 45.39%, rgba(155, 255, 242, 0) 94.73%), #39E0D0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 0px 36px;
    height: 42px;
    border:none;
    font-weight: bold;
    font-size: 18px;
    color:#fff;
    margin-top: 14px;
    margin-bottom: 26px;
    cursor: pointer;
  }
}