html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.header-chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px 0 84px;
}
.header-chat__logo {
  font-size: 40px;
  color: #FFFFFF;
}
.header-chat__info {
  display: flex;
  width: 730px;
  height: 40px;
  background: white;
  align-items: center;
  padding: 0 20px 0 20px;
  border-radius: 30px;
  margin-left: 81px;
}
.header-chat__info .online-info {
  display: flex;
  align-items: center;
}
.header-chat__info .online-info__text {
  font-size: 18px;
  color: #777777;
}
.header-chat__info .online-info__number {
  width: 30px;
  height: 30px;
  margin-left: 20px ;
  background: #12D225;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.header-chat__info .all-info {
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-chat__info .all-info__text {
  margin-right: 20px;
  font-size: 18px;
  color: #777777;
}
.header-chat__info .all-info__number {
  width: 30px;
  height: 30px;
  background: #0D8CA2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.header-chat__settings {
  margin-left: 39px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 2px;
  background: #263845;
}
::-webkit-scrollbar-thumb {
  background: #263845;
  border-radius: 100px;
}
body {
  background: url(../img/bg.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smart-chat {
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  height: 761px;
  max-width: 1197px;
}
.smart-chat__header {
  height: 70px;
  background: linear-gradient(180deg, #30C799 0%, rgba(255, 255, 255, 0) 100%), #01699A;
}
.smart-chat__content {
  padding: 37px 30px;
}
