@import "_reset";
@import "_media";
@import "_header";
@import "_body-chat";
@import "_form";
@import "_modal";

html{
  height: 100%;
}
body{
  background: url(../img/bg.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto' , Arial , sans-serif;
  font-size: 14px;
  color:#fff;
  @media @tablet{
    align-items: inherit;
  }
}
.smart-chat{
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  min-height: 761px;
  max-width: 1197px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media @tablet{
    width: 100%;
    min-height: auto;
    height: auto;
    padding-bottom: 0px;
  }
  &__header{
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    height: 70px;
    background: linear-gradient(180deg, #30C799 0%, rgba(255, 255, 255, 0) 100%), #01699A;
    @media @mobile{
      height: auto;
    }
  }
  &__content{
    padding: 37px 30px 0px 30px;
    @media @tablet{
      padding: 20px 5px 0px 5px;
    }
  }
  &__footer{

  }
}





